<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>首页</title>
</head>
<body>
<div align="center"><h2>国内疫情情况如下</h2></div>
<br>
<table align="center">
    <thead>
    <tr>
        <th>地区</th>
        <th>现有</th>
        <th>累计</th>
        <th>治愈</th>
        <th>死亡</th>
    </tr>
    </thead>
    <tbody>
        <tr th:each="beans:${beanList}">
            <td th:text="${beans.area}">area</td>
            <td th:text="${beans.nowConfirm}">nowConfirm</td>
            <td th:text="${beans.confirm}">confirm</td>
            <td th:text="${beans.heal}">heal</td>
            <td th:text="${beans.dead}">dead</td>
        </tr>
    </tbody>
</table>
</body>
</html>